p{
    color:rgb(116, 103, 80);
    font-size: medium;
    font: larger 500px;;
}
body{
background-color:rgb(211, 211, 231);
}


div
{
max-width: 500px;
}


#tytul
{
font-size: xx-large;
}


h1

{
font-size: 50px;
}

img

{
    width:600px
}

p

{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}